Solutions/Experiments/Workflows/SHPMonitorRun-6F61C57E-D798-EB11-B1AC-000D3A09D58B.json
{"properties":{"connectionReferences":{"shared_twitter":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ita_sharedtwitter_8c8ce"},"api":{"name":"shared_twitter"}},"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ita_sharedcommondataserviceforapps_7def0"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{"text":{"title":"SHPMonitorId","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"text_1":{"title":"Keywords","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"number":{"title":"Frequency","type":"number","x-ms-dynamically-added":true,"description":"Please enter a number","x-ms-content-hint":"NUMBER"}},"required":["text","text_1","number"]}}}},"actions":{"Respond_to_a_PowerApp_or_flow":{"runAfter":{"Update_a_row":["Succeeded"]},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{},"schema":{"type":"object","properties":{}}}},"LastCreatedAt":{"runAfter":{"FirstCreatedAt":["Succeeded"]},"type":"Compose","inputs":"@last(body('Search_tweets'))?['CreatedAtIso']"},"Search_tweets":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_twitter","connectionName":"shared_twitter","operationId":"SearchTweet"},"parameters":{"searchQuery":"@triggerBody()['text_1']","maxResults":99},"authentication":"@parameters('$authentication')"}},"FirstCreatedAt":{"runAfter":{"Count":["Succeeded"]},"type":"Compose","inputs":"@first(body('Search_tweets'))?['CreatedAtIso']"},"Count":{"runAfter":{"Search_tweets":["Succeeded"]},"type":"Compose","inputs":"@length(body('Search_tweets'))"},"TimeDiffSeconds":{"runAfter":{"LastCreatedAt":["Succeeded"]},"type":"Compose","inputs":"@first(split(string(mul(sub(ticks(utcNow()), ticks(outputs('LastCreatedAt'))), 0.0000001)),'.'))"},"Add_a_new_row":{"runAfter":{"TimeDiffSeconds":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"ita_shpstatses","item/ita_name":"UTC: @{utcNow()}","item/ita_SHPMonitor@odata.bind":"ita_shpmonitors(@{triggerBody()['text']})","item/ita_mentionscount":"@outputs('Count')","item/ita_mentionsintervalseconds":"@outputs('TimeDiffSeconds')"},"authentication":"@parameters('$authentication')"}},"Update_a_row":{"runAfter":{"Add_a_new_row":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord"},"parameters":{"entityName":"ita_shpmonitors","recordId":"@triggerBody()['text']","item/ita_lastrun":"@utcNow()","item/ita_nextrun":"@addSeconds(utcNow(), sub(mul(triggerBody()['number'], 3600), 120))"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}