Solutions/Experiments/Workflows/SHPRecurrentMonitoring-0207D469-CB98-EB11-B1AC-000D3A09D614.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"ita_sharedcommondataserviceforapps_7def0"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Hour","interval":1,"timeZone":"Eastern Standard Time","startTime":"2021-04-08T20:30:00Z"},"type":"Recurrence"}},"actions":{"List_rows":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"ita_shpmonitors","$filter":"ita_nextrun eq null or ita_nextrun lt @{outputs('Compose')}"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{},"type":"Compose","inputs":"@utcNow()"},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Run_a_Child_Flow":{"runAfter":{},"type":"Workflow","inputs":{"host":{"workflowReferenceName":"6f61c57e-d798-eb11-b1ac-000d3a09d58b"},"body":{"text":"@items('Apply_to_each')?['ita_shpmonitorid']","text_1":"@items('Apply_to_each')?['ita_keywords']","number":"@items('Apply_to_each')?['ita_frequencyhours']"}}}},"runAfter":{"List_rows":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}